In [3]:
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_parquet(
    r"C:\Users\veter\Desktop\nocountry\equipo_45\horsedeals_horses_listings.parquet",
    engine='fastparquet'
)

In [5]:
pd.options.display.max_columns = None
df

,Horse_ID,Horse Profile,Height,Age,Sex,Name,Location,Description,Rider Level,Breed,Discipline,Price
0,6062071769402210483,https://www.horsedeals.com.au/classifieds/item...,14.1hh,4yo,Mare,Stunning Mare with a super trainable temperament,Garfield VIC,Jigsaw is an exciting young mare with a super ...,Not specified,Paints,"[Allrounders, , Interschool]","$15,000"
1,4919341762915834996,https://www.horsedeals.com.au/classifieds/item...,15.2hh,23yo,Gelding,Anglo Arab Pony,"Avoca, VIC","Great pony, regretfully having to move him on ...",Advanced,Arabian & Arabian Derivative,"[Endurance, , Allrounders]",FREE
2,6096571770359476081,https://www.horsedeals.com.au/classifieds/item...,14.3hh,1yo,Filly,"""Dame"" 2024 Paint x QH Filly","Weranga, QLD",Triangle February Online Horse Sale**As descri...,Not specified,Paints,[Project],POA
3,4519141765256036460,https://www.horsedeals.com.au/classifieds/item...,15.0hh,1yo,Colt,Double Destiny,"Kingaroy, QLD",Very nice type well grown yearling colt ASH 2...,None,Australian Stock Horses,"[Campdrafting, , Challenge]","$6,600"
4,5994061767858464097,https://www.horsedeals.com.au/classifieds/item...,14.3hh,0yo,Filly,Kallarroo Lava-Gypsy Cob Filly,"Nimmitabel, NSW","Friendly, curious filly born Nov 2025. Will be...",Not specified,Gypsy Cob,"[Allrounders, , Breeding]","$18,000"
...,...,...,...,...,...,...,...,...,...,...,...,...
1078,6495871767073900028,https://www.horsedeals.com.au/classifieds/item...,14.1hh,0yo,Filly,Black Is Black,"Euroa, VIC",ESB Adieu DOB 27.09.25 is by Wychwood Silver S...,Not specified,Connemara,"[Allrounders, , Performance Ponies]","$4,500"
1079,5041261768776152224,https://www.horsedeals.com.au/classifieds/item...,11.0hh,5yo,Gelding,Sweet pony,Tallebudgera Valley QLD,"This little guy is super sweet, great to lead ...",Beginner,Welsh,"[Beginners, , Pony Club]","$3,800 ono"
1080,4626541766131544534,https://www.horsedeals.com.au/classifieds/item...,14.0hh,2yo,Colt,Black Colt,"Kilmore, VIC",To small for current stable roughly 14 hh sire...,Advanced,Thoroughbred,"[Off The Track, , Polo]",$500
1081,4287151755471817678,https://www.horsedeals.com.au/classifieds/item...,14.1hh,13yo,Mare,Purebred Gypsy Cob Mare,Burrell Creek NSW,"APSB /AGHS reg. Produces lovey big foals, brok...",None,Gypsy Cob,"[Breeding, , Pleasure]","$15,000 neg"
1082,5874961767687595398,https://www.horsedeals.com.au/classifieds/item...,13.2hh,6yo,Mare,Sweet Mare,"Mount Perry, QLD",She has had one foal a beautiful palomino fill...,Not specified,Other breeds,"[Project, , Breeding]","$2,000 neg"

In [6]:
print("--- Columnas en la Base Peque√±a (Actual) ---")
print(list(df.columns))

--- Columnas en la Base Peque√±a (Actual) ---
['Horse_ID', 'Horse Profile', 'Height', 'Age', 'Sex', 'Name', 'Location', 'Description', 'Rider Level', 'Breed', 'Discipline', 'Price']

In [7]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 1083 entries, 0 to 1082
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Horse_ID       1083 non-null   object
 1   Horse Profile  1083 non-null   object
 2   Height         1083 non-null   object
 3   Age            1083 non-null   object
 4   Sex            1083 non-null   object
 5   Name           1083 non-null   object
 6   Location       1083 non-null   object
 7   Description    1083 non-null   object
 8   Rider Level    977 non-null    object
 9   Breed          1083 non-null   object
 10  Discipline     1083 non-null   object
 11  Price          1083 non-null   object
dtypes: object(12)
memory usage: 101.7+ KB

In [8]:
import numpy as np

# --- 1. CONFIGURACI√ìN ---
df_final = df.copy() 
print("--- üõ†Ô∏è FINAL VERSION: ENGLISH STANDARDIZATION üá∫üá∏ üõ†Ô∏è ---")

# --- 2. RENOMBRAR ---
mapa_nombres = {
    'Sex': 'Gender',
    'Height': 'Height (hh)',
    'Description': 'Comments',
    'Discipline': 'Skills'
}
df_final = df_final.rename(columns=mapa_nombres)

# --- 3. LIMPIEZA DE TEXTO (ENGLISH MODE) üá¨üáß ---

cols_texto_todas = [
    'Company Name', 'Shipping', 'Company Profile', 'Color', 
    'Markings', 'Temperament', 'In Foal', 'Comments', 'Skills', 
    'Location', 'Name', 'Gender', 'Breed', 'Horse Profile'
]

for col in cols_texto_todas:
    if col in df_final.columns:
        # A. Convertir a string y min√∫sculas
        df_final[col] = df_final[col].fillna('unknown').astype(str).str.lower().str.strip()
        
        # B. Quitar corchetes y comillas (Skills)
        df_final[col] = df_final[col].str.replace(r"[\[\]\'\"]", "", regex=True)
        
        # C. Reemplazar valores nulos o espa√±oles por INGL√âS
        reemplazos = {
            'nan': 'unknown',
            'none': 'unknown',
            'sin informaci√≥n': 'unknown', # ¬°Adi√≥s espa√±ol!
            'sin informacion': 'unknown',
            'consultar': 'ask seller',
            'no disponible': 'not provided'
        }
        df_final[col] = df_final[col].replace(reemplazos)

print("‚úÖ Text normalized to English ('unknown').")


# --- 4. LIMPIEZA DE N√öMEROS ---
# Precio
df_final['Price'] = df_final['Price'].astype(str).str.replace(r'[$,]', '', regex=True)
df_final['Price'] = pd.to_numeric(df_final['Price'], errors='coerce')

# Altura
df_final['Height (hh)'] = df_final['Height (hh)'].astype(str).str.replace('hh', '', regex=False, case=False)
df_final['Height (hh)'] = pd.to_numeric(df_final['Height (hh)'], errors='coerce')

# Edad
df_final['Age'] = df_final['Age'].astype(str).str.extract(r'(\d+)').astype(float)


# --- 5. FECHAS (Foal Date & Updates) üìÖ ---
hoy = pd.Timestamp.now().normalize() 

# Calcular Foal Date (Nacimiento)
if 'Age' in df_final.columns:
    edad_dias = pd.to_timedelta(df_final['Age'] * 365, unit='D')
    df_final['Foal Date'] = (hoy - edad_dias).dt.normalize()

# Rellenar fechas vac√≠as con hoy
cols_fechas = ['Ad Created', 'Last Update']
for col in cols_fechas:
    if col not in df_final.columns:
        df_final[col] = hoy
    else:
        df_final[col] = pd.to_datetime(df_final[col], errors='coerce').fillna(hoy).dt.normalize()


# --- 6. IMPUTACI√ìN FINAL (ENGLISH) ---
cols_maestras = [
    'Horse_ID', 'Breed', 'Name', 'Gender', 'Foal Date', 'In Foal',
    'Height (hh)', 'Weight (lbs)', 'Temperament', 'Ad Created',
    'Last Update', 'Location', 'Price', 'Horse Profile', 'Skills',
    'Comments', 'Shipping', 'Company Name', 'Company Profile', 'Color',
    'Markings'
]

# Crear columnas faltantes
for col in cols_maestras:
    if col not in df_final.columns:
        df_final[col] = np.nan

# Rellenar Textos Nuevos con 'unknown'
for col in cols_texto_todas:
    if col in df_final.columns:
         df_final[col] = df_final[col].replace('nan', 'unknown').fillna('unknown')

# Rellenar N√∫meros (Pesos y Precios)
if df_final['Weight (lbs)'].isnull().all():
    df_final['Weight (lbs)'] = 1100.0 # Standard weight
else:
    df_final['Weight (lbs)'] = df_final['Weight (lbs)'].fillna(1100.0)

for col in ['Price', 'Height (hh)']:
    df_final[col] = df_final[col].fillna(df_final.groupby('Breed')[col].transform('median'))
    df_final[col] = df_final[col].fillna(df_final[col].median())


# --- 7. EXPORTAR PACK ---
df_entregable = df_final[cols_maestras].copy()

print("\n--- ‚ú® FINAL CHECK (ENGLISH) ‚ú® ---")
print(f"Nulls check: {df_entregable['Company Name'].iloc[0]}") # Deber√≠a decir 'unknown' (o el nombre real)
print(f"Nulos totales: {df_entregable.isnull().sum().sum()}")

--- üõ†Ô∏è FINAL VERSION: ENGLISH STANDARDIZATION üá∫üá∏ üõ†Ô∏è ---
‚úÖ Text normalized to English ('unknown').

--- ‚ú® FINAL CHECK (ENGLISH) ‚ú® ---
Nulls check: unknown
Nulos totales: 0

In [ ]:
# --- RESCATE DE LINKS ORIGINALES üîó ---

# 1. Identifica las columnas que son URL (Links)
# Ajusta esta lista con los nombres exactos de columnas de links
cols_links = ['Horse Profile', 'Company Profile'] 

print(f"Restaurando links originales en: {cols_links}...")

# 2. Pasamos los datos "crudos" del original al entregable
# (Esto sobreescribe la versi√≥n limpia/rota con la versi√≥n original/funcional)
for col in cols_links:
    if col in df.columns and col in df_entregable.columns:
        df_entregable[col] = df[col] # ¬°Aqu√≠ vuelve la magia original!
        
        # 3. Limpieza SUAVE (Solo quitamos espacios, NO min√∫sculas ni regex agresivo)
        # Los links NO se tocan con .lower() ni se les quitan signos
        df_entregable[col] = df_entregable[col].astype(str).str.strip()
        
        # Opcional: Si quedaron 'nan' como texto, los pasamos a 'unknown'
        df_entregable[col] = df_entregable[col].replace({'nan': 'unknown', 'None': 'unknown'})

print("‚úÖ ¬°Links restaurados! Verifica uno:")
print(df_entregable[cols_links[0]].iloc[0])

Restaurando links originales en: ['Horse Profile', 'Company Profile']...
‚úÖ ¬°Links restaurados! Verifica uno:
https://www.horsedeals.com.au/classifieds/item/horses/garfield-vic/exciting-mare-with-a-super-trainable-temperament-6062071769402210483

In [10]:
df_entregable.head(3)

,Horse_ID,Breed,Name,Gender,Foal Date,In Foal,Height (hh),Weight (lbs),Temperament,Ad Created,Last Update,Location,Price,Horse Profile,Skills,Comments,Shipping,Company Name,Company Profile,Color,Markings
0,6062071769402210483,paints,stunning mare with a super trainable temperament,mare,2022-02-12,unknown,14.1,1100.0,unknown,2026-02-11,2026-02-11,garfield vic,15000.0,https://www.horsedeals.com.au/classifieds/item...,"allrounders, , interschool",jigsaw is an exciting young mare with a super ...,unknown,unknown,unknown,unknown,unknown
1,4919341762915834996,arabian & arabian derivative,anglo arab pony,gelding,2003-02-17,unknown,15.2,1100.0,unknown,2026-02-11,2026-02-11,"avoca, vic",3150.0,https://www.horsedeals.com.au/classifieds/item...,"endurance, , allrounders","great pony, regretfully having to move him on ...",unknown,unknown,unknown,unknown,unknown
2,6096571770359476081,paints,dame 2024 paint x qh filly,filly,2025-02-11,unknown,14.3,1100.0,unknown,2026-02-11,2026-02-11,"weranga, qld",5000.0,https://www.horsedeals.com.au/classifieds/item...,project,triangle february online horse sale**as descri...,unknown,unknown,unknown,unknown,unknown

In [ ]:
#df_entregable.to_parquet('horsedeals_horses_listings_limpio.parquet', index=False)